$secondsColor: red;

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#seconds {
  background-color: $secondsColor;
}

#github-logo{
  position: fixed;
  right: 0px;
  top: 55px;
  z-index: -1;
  height: 100px;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: -2;
  width: 100%;
}
